@page
@model IndexModel
@{
    ViewData["Title"] = "RTE-technical demo for Agyla";
}
@using static ApplicationDemoWorkshop.Pages.GlobalVariables
@{GlobalVariables.SessionCount++; }
<div class="text-center">
    <h1 class="display-4"> Welcome to the future ! </h1>
    <img src="http://www.agyla.cloud/wp-content/uploads/2021/02/Logo-Agyla-Cloud.png" />
</div>
<div class="row">
        <h2>Nombre d'utilisateurs:  @GlobalVariables.SessionCount</h2>
</div>

<div class="row">
        <h2>Hostname  : @GlobalVariables.hostname</h2>
</div>


<div class="row">
    <div class="row">
        <img src="..\media\4.jpg" alt="Snow" style="width:150%">
    </div>
</div>
