@page
@model IndexModel
@{
    ViewData["Title"] = "RTE-technical demo for Agyla";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to the future ! </h1>
    <img src="http://www.agyla.cloud/wp-content/uploads/2021/02/Logo-Agyla-Cloud.png" />
</div>
<div class="row">
    <div class="column">
       
    </div>
</div>

<div class="text-center">
    <div class="text-center">
        <img src="..\media\4.jpg" alt="Snow" style="width:150%">
    </div>
</div>
