@page
@model IndexModel
@{
    ViewData["Title"] = "RTE-technical demo for Agyla";
}
@using static ApplicationDemoWorkshop.Pages.GlobalVariables
@{GlobalVariables.SessionCount++; }
<div class="text-center">
    <h1 class="display-4"> Welcome to the future ! </h1>
    <img src="http://www.agyla.cloud/wp-content/uploads/2021/02/Logo-Agyla-Cloud.png" />
</div>
<div class="row">
    <h2>Total number of sessions   : </h2>
    <h2 id="sessionCount"></h2>
</div>

<div class="row">
    <h2>Hostname   :    </h2>
    <h2 id="hostName"> </h2>
</div>

<div class="row">
    <h2>OS version   : </h2>
    <h2 id="osversion"></h2>
</div>
<div>
     <h2>CPU usage   : </h2>
    <h2 id="cpuUsage"></h2>
</div>

<div class="row">
    <div class="row">
        <img src="..\media\4.jpg" alt="Snow" style="width:150%">
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/monitor.js"></script>
