@page
@model IndexModel
@{
    ViewData["Title"] = "RTE-technical demo for Agyla";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the future ! </h1>
    <img src="http://www.agyla.cloud/wp-content/uploads/2021/02/Logo-Agyla-Cloud.png" />
</div>
